:root {
    --fadeblack: #080808;
    --darkgrey: #161616;
    --paperwhite: #f0f0f0;
    --accent: violet;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #888;
    border-radius: 10px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--paperwhite);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--fadeblack);
}
